*{box-sizing:border-box}
html{ height: 100%;
  background-image: linear-gradient(180deg, thistle, cornsilk);
  background-attachment: fixed;
}
body{
  font-family: 'Srisakdi', cursive;
  font-size: 40px;
  list-style: none;
}
.links {
  list-style:none;
}
.links a{text-decoration:none;}
h1{
    text-align: center;
    font-family:'Griffy', cursive;
    font-size: 70px;
    color: goldenrod;
}
li{ margin: 100px 0 100px 0}
main {background-color: blue;
}
main > aside {
  /* border:1px solid black; */
width:30%;}
main > aside, main > section {
  float:left;
}
main > section{
  /* background-color:red; */
width:70%;
padding:20px
margin-left:20px;}
