*{box-sizing:border-box}
html{ height: 100%;
  background-image: linear-gradient(180deg, thistle, pink, cornsilk);
  background-attachment: fixed;
}
body{
  font-family: 'Srisakdi', cursive;
  font-size: 40px;
  list-style: none;
}
.links {
  list-style:none;
  color:indigo;
}
.links a{text-decoration:none;
    color: darkmagenta;
    font-size: 40px;
    font-weight:bold;
}
h1{
    text-align: center;
    font-family:'Griffy', cursive;
    font-size: 70px;
    color: goldenrod;
}
h2{
  font-family:'Courgette', cursive;
  text-align: center;
  color:indigo;
}
li{ margin: 100px 0 100px 0}
main /*{background-color: blue;*/

}
main > aside {
  /* border:1px solid black; */
width:30%;}
main > aside, main > section {
  float:left;
}
main > section{
   /* background-color:red;  */
width:70%;

padding:40px
/* margin-left:20px; */
}
h4{
  font-family:'Courgette', cursive;;
}
h4 a{
  text-decoration: none;
  color:indigo;
  margin-left: 250px;
}
h4 a:hover{
  color: black;

padding:20px
margin-left:20px;}
article img {
  float:left;
  width:500px;
  Margin-right:10px;
}
article img.right-dog{
  float:right;
    margin-right:0px;
      margin-left:10px;
}
h2 {
  color:darkmagenta;
}
article {
  color:darkmagenta;
}
aside a, aside a:visited{
  color:darkmagenta;
}
.links a:hover {
  color:black;
}
p a:hover {
  color:black;
}
